
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WaitingRoom-primary: mat.define-palette(mat.$indigo-palette);
$WaitingRoom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WaitingRoom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WaitingRoom-theme: mat.define-light-theme((
  color: (
    primary: $WaitingRoom-primary,
    accent: $WaitingRoom-accent,
    warn: $WaitingRoom-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($WaitingRoom-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
  flex: 1 1 100%;
}

.scale-dim {
  scale: 1;
  &:hover {
    scale: 1.1;
    transition: opacity 0.2s ease-in-out;
  }
}

.bgImg{
  background-image: url(./assets/minecraft_background.png);

  background-repeat: repeat-x;
      
  background-size: 4rem 2rem;

  width:100%;
  
  height:2rem;
}
