<div class="margin bgImg ">
    <img>
</div>

<div class="margin font">
    <p>Thank you for completing the trial end survey!</p>
    <p>Would you like to continue playing with the same team?</p>
    <p>If you select Continue, you will stay on this webpage and will be informed when the server is once again ready for the next trial.</p>
    <p>If you select Leave Team, you will be returned back to the waiting room, at which point you will be assigned a new team if more players are available.</p>
</div>

<div class="margin font" style="display:flex; margin-bottom: 1rem;">
    <button class="scale-dim" (click)="continueTeam()">Continue With Team</button>
    <span style="flex-grow: 1;"></span>
    <button class="scale-dim" (click)="leaveTeam()"> Leave Team</button>
</div>

<div class="margin bgImg">
    <img>
</div>

<!-- <app-trial-summary></app-trial-summary> -->
