<mat-card class="testbed-card">
  <mat-card-header>
    <mat-card-title>
      {{title}}
      <!--      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
      <!--        <mat-icon>more_vert</mat-icon>-->
      <!--      </button>-->
      <!--      <mat-menu #menu="matMenu" xPosition="before">-->
      <!--        <button mat-menu-item>Expand</button>-->
      <!--        <button mat-menu-item>Remove</button>-->
      <!--      </mat-menu>-->
    </mat-card-title>
    <mat-card-subtitle>
      {{selectedTestbed}} {{selectedContainer}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="testbed-card-content">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let detail"> {{detail.name}} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
          <td mat-cell *matCellDef="let detail"> {{detail.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
