<div class="bottom-sheet-container">
  <mat-toolbar class="bottom-sheet-toolbar">
    <mat-toolbar-row class="bottom-sheet-toolbar-row">
      <span class="bottom-sheet-toolbar-text">Messages</span>
      <span class="message-button-close-spacer"></span>
      <span>
      <mat-icon class="message-button-close"
                matTooltip="Close"
                (click)="close()"
      >close</mat-icon>
    </span>
    </mat-toolbar-row>
  </mat-toolbar>
<app-logging></app-logging>
</div>
