<h1 mat-dialog-title>Registered Users</h1>
<div mat-dialog-content style="overflow-x: hidden;">
    <div style="width:600px;min-height: 400px">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!checked">
          
            <!-- Name Column -->
            <ng-container matColumnDef="userId">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>
          
            <!-- Participant id Column -->
            <ng-container matColumnDef="participantId">
              <th mat-header-cell *matHeaderCellDef> Participant ID </th>
              <td mat-cell *matCellDef="let element"> {{element.participantId}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matSuffix color="primary" (click)="openEditor(element)">
                  <mat-icon fontIcon="edit_outline">edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button matSuffix color="primary" (click)="deleteUser(element)" aria-label="'delete'" aria-pressed="delete">
                  <mat-icon fontIcon="delete_outline"></mat-icon>
                </button>
              </td>
            </ng-container>
          
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <table mat-table [dataSource]="deletedDataSource" class="mat-elevation-z8" *ngIf="checked">
          
            <!-- Name Column -->
            <ng-container matColumnDef="userId">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>
          
            <!-- Participant id Column -->
            <ng-container matColumnDef="participantId">
              <th mat-header-cell *matHeaderCellDef> Participant ID </th>
              <td mat-cell *matCellDef="let element"> {{element.participantId}} </td>
            </ng-container>

            <!-- Password Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matSuffix color="primary" aria-label="'show'" aria-pressed="'show'">Show</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button matSuffix color="primary" (click)="restoreUser(element)" aria-label="'restore'" aria-pressed="restore">
                  RESTORE
                </button>
              </td>
            </ng-container>
          
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
<!-- <mat-checkbox color="primary" [(ngModel)]="checked">
  <span class="text-wrap">
      Show deleted users.
  </span>
</mat-checkbox>
<div mat-dialog-actions>
  <button fxFill mat-flat-button color="primary" mat-dialog-close>Ok</button>
</div> -->