/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";
// DEBUG CSS TO SEE ANY ELEMENTS THAT MIGHT BE DISPLAYED OUTSIDE THE DESIRED WIDTH
//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
