<div class="main-background" style="width: 100%;height: 100%;">
    <div fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
        <header *ngIf="!noheader"><a routerLink="/Login"><img src="assets/SocialAI_WhiteLogo.png"></a>
            <nav>
                <a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                <a routerLink="/Registration" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
                <a routerLink="/Download" routerLinkActive="active" ariaCurrentWhenActive="page">Setup</a>
                <a routerLink="/GameMechanics" routerLinkActive="active" ariaCurrentWhenActive="page">Game Mechanics</a>
                <a routerLink="/Leaderboard" routerLinkActive="active" ariaCurrentWhenActive="page">Leaderboard</a>
                <a routerLink="/FAQ" routerLinkActive="active" ariaCurrentWhenActive="page">FAQs</a>
                <a href="mailto:support@socialai.games?subject=SocialAI.games Support.">Contact Us!</a>
                
            </nav>		
        </header>
        <div *ngIf="!noheader" style="font-size: .75rem; color: white; text-align: center; ">
            <p style="font-size: .75rem;">
                For more information on research objectives, findings, and funding support, visit <a target="_blank" style="color:#add8e6" href="https://artificialsocialintelligence.org">https://artificialsocialintelligence.org</a>. 
            </p>
            
        </div>
        </div>
        
        <router-outlet></router-outlet>        
       
</div>

