// .cursor {
//     width: 20px;
//     height: 20px;   
//     position: absolute;
//     transition-duration: 200ms;
//     transition-timing-function: ease-out;
//     animation: cursorAnim .5s infinite alternate;
//     pointer-events: none;
    
//   }
  
//   .cursor::after {
//     content: "";
//     width: 20px;
//     height: 20px;
//     position: absolute;   
//     opacity: .5;
//     top: -8px;
//     left: -8px;
//     animation: cursorAnim2 .5s infinite alternate;
//   }
  
//   @keyframes cursorAnim {
//     from {
//       transform: scale(1);
//     }
//     to {
//       transform: scale(.7);
//     }
//   }
  
//   @keyframes cursorAnim2 {
//     from {
//       transform: scale(1);
//     }
//     to {
//       transform: scale(.4);
//     }
//   }
  
//   @keyframes cursorAnim3 {
//     0% {
//       transform: scale(1);
//     }
//     50% {
//       transform: scale(3);
//     }
//     100% {
//       transform: scale(1);
//       opacity: 0;
//     }
//   }
  
//   .expand {
//     animation: cursorAnim3 .5s forwards;
//     border: 1px solid red;
//   }
p{
  font-size: 1.5em;
}