/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-position: right;
  background-image: url("assets/LandingPageBackground.png");
}

.scale-dim {
  scale: 1;

  &:hover {
    scale: 1.1;
    transition: opacity 0.2s ease-in-out;
  }
}

.markdown-item a:link {
  color: #add8e6;
}

.markdown-item a:visited {
  color: #add8e6;
}

.markdown-item a:hover {
  color: #add8e6;
}

.markdown-item a:active {
  color: #add8e6;
}
