#errorMessage {
    color: red;
}

::ng-deep .mat-tab-label, .mat-tab-label-content{
    color: white;
    font-size: 1.25rem;
}

.card-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mechanics-card-container {
    min-width: 150px;
    max-width: 1200px;
    width: 100%;
}

.login-main {
    column-gap: 10px;
    padding: 20px;
    max-width: 1400px;
}

.noheader {
    background: black;
}

.login-input {
    width: 100%;
}

.faq-toc {
    color: #6dcd3d;
    text-transform: uppercase;
    margin-top: 16px;
    padding: 4px;

    a  {
        text-transform: none;
        color: white;
    }
}

.faq-category {
    color: #6dcd3d;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 16px;
    background: #444;
    padding: 8px;
    letter-spacing: .05em;
}

.faq-question {
    color: white;
    font-size: 120%;
    padding: 4px 4px 4px 8px;
    background: #444;
    border-radius: 5px 5px 0 0;
    margin-top: 8px;
}

.faq-answer {
    color: #eee;
    padding: 4px 16px 4px 8px;
    background: #636363;
    border-radius: 0 0 5px 5px;
    line-height: 16pt;

    a {
        color: #b3e3b0;
    }
}

h1 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.fineprint {
    font-size: 12px;
    color: rgb(210, 210, 210);
}

.mechanics-card {
    background-color: rgba(0,0,0,0.7);
}

#mechanicsouterdiv {
    height: 100%;
    width:100%;
    padding:5px;
    display: flex;
    flex-direction: row;
}

.instructionsCol {
    text-align: left;
    padding: .5rem;
    padding-bottom: 30px;
    color: white;
    // margin-right:3px;
    // background-color:#254A32;

    p {
        font-size: 1rem;
        padding-left: 10px;
        margin-block-start:0.5rem;
    }

    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        background: #254A32;
    }

    h3 {
        font-size:1.1rem;
        margin-block-end:0.5rem;
        color: #6dcd3d;
    }

    strong {
        color: #6dcd3d;
    }



}
