<div id="StoreInteractionContainer" style="display:flex; flex-direction: column;">   
    <div>
        <p>Team Budget : {{sessionService.teamBudget}}</p> 
    </div>
    <!-- <button (click)="testInventoryUpdate()">Test inventory Update</button> -->
    <div *ngIf="sessionService.mission_stage === 'shop_stage'">
        <table>
            <thead>
                <th *ngFor="let c of sessionService.callSignArray">{{c}}</th>                
            </thead>
            <tbody>
                <tr *ngFor='let p of itemsAssetsWithFullPathAndName; let i = index;' id={{i}}>                                       
                    <td *ngFor="let c of sessionService.callSignArray; let j = index;">                       
                        <div style="display:inline-block;margin-left:.25rem;">
                            <div style="display:inline-block;font-size:1.25rem;position: relative;" matTooltip="Click for Tool Info">                                
                                <div style="color: black;height:1.25rem;width:1.25rem;background-color:#FFE933;position: relative;border-radius: 1rem;text-align: center;display: inline-block;" >
                                    <!-- <p style="font-size: 1.1rem;position: relative;top: 0.1rem;color: black;">{{sessionService.toolCounts?.[i]?.[j]?.[2]}}</p> -->
                                    <p style="font-size:1rem;position:relative;top:-.2rem;">{{sessionService.toolCounts?.[i]?.[j]?.[2]}}</p>
                                </div>
                                <img style="max-height:2vh;max-width:2vh;height:2vh;width:2vh;margin-left:.25rem;" src={{p[0]}} class="tool" id={{i}}_{{j}}_toolimg (click)="showToolInfo($event)">                               
                            </div>                            
                            <p style="margin-left:.25rem;font-size:1.5rem;">:{{sessionService.toolCounts?.[i]?.[j]?.[3]}}</p> 
                        </div>                    
                        <div *ngIf="j==sessionService.callSignCode" style="display:inline-block;">
                            <button  matTooltip="Add to this Tool Stack" class="plusminus scale-dim"  id={{i}}_{{j}}_+ (click)="processPlusMinusClick($event)" style="display:inline-block;">+</button>
                            <button  matTooltip="Reduce this Tool Stack" class="plusminus scale-dim" id={{i}}_{{j}}_- (click)="processPlusMinusClick($event)" style="display:inline-block;">-</button>
                            <img matTooltip="Discard this Tool Stack" class="trashcan scale-dim" src={{trashCanAssetPath}} id={{i}}_{{j}}_- (click)="discardTool($event)" style="display:inline-block;">
                        </div>                    
                    </td> 
                </tr> 
            </tbody>
        </table>
    </div>
    <span style="flex-grow:1"></span> 
    
    <div *ngIf="sessionService.mission_stage === 'shop_stage'">
       <button id="LeaveStoreButton" (click)="setReadyToLeaveStore($event)">Finish Planning And Shop Session</button> 
    </div> 

    <div style="height:1rem">

    </div>
    <div>
        <app-textchat></app-textchat>        
    </div>
</div>

