<mat-toolbar class="mat-primary metadata-header">
  <mat-toolbar-row>
        <span>
          <mat-icon
            (click)="sidenav.open()"
          >menu
          </mat-icon>
        </span>
    <span><h1>{{title}}</h1></span>
    <span class="metadata-header-spacer"></span>
    <span><small>{{version}}</small></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="metadata-container">
  <mat-sidenav #sidenav over fixedInViewport>
    <mat-list>
      <mat-list-item
        *ngFor="let route of routes"
        [routerLink]="route.path"
        (click)="sidenav.toggle()"
        [routerLinkActive]="['is-active']"
      >
        <mat-icon>code</mat-icon>&emsp;{{route.name}}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
    <mat-toolbar class="mat-primary metadata-footer">
      <mat-toolbar-row>
        <span class="bottom-sheet-button-spacer"></span>
        <app-bottom-sheet-container></app-bottom-sheet-container>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
