<h1 mat-dialog-title>Username Requirements</h1>
<div mat-dialog-content>
    <ul>
        <li>Must have 3-16 characters</li>
        <li>No Spaces are allowed between characters</li>
    </ul>
    Accepted characters: 
    <ul>
        <li>A-Z (upper and lower case)</li>
        <li>0-9</li>
        <li>The only special character accepted is _ (underscore)</li>
    </ul>

    </div>
<div mat-dialog-actions>
  <button fxFill mat-flat-button color="primary" mat-dialog-close>Ok</button>
</div>