
<div>
    <!-- <img id="Grid" #grid (click)="testPositionEvent($event)"> -->
    <img id="Map" #mapImage>
    <div id="GridLayer" #gridLayer >    
        <div class="GridDivs" *ngFor="let n of gridDivs;" (contextmenu)="rightClickMap($event)" (click)="unsetIconUpdateMode()" >
            <p *ngIf="n.axis == 'y'" style="width:100%;height:100%;margin-top:3rem;margin-left: 25%;">                
                <b>{{n.label}}</b>
            </p>
            <p *ngIf="n.axis == 'x'" style="width:100%;height:100%;margin-left: 40%;">                
                <b>{{n.label}}</b>
            </p>                 
        </div>    
    </div>    
</div>
<img class="Player" id="PlayerRed">
<img class="Player" id="PlayerGreen">
<img class="Player" id="PlayerBlue">
<app-flag-placer-menu id="rightClickMenu" (priorityEmitter)="setFlagPriority($event)"></app-flag-placer-menu>



