<html>
    <body>        
        <div id="main" style="display:flex;">            
            <div style="display:flex;width:100vw; height:98vh" >
                <div id=map-parent-div style="height:98vh;width:65%" #map_parent>
                    <app-map-v2  [quadrantWidth]=8 [quadrantHeight]=10 [width]=map_parent.getBoundingClientRect().width [height]=map_parent.getBoundingClientRect().height></app-map-v2>                    
                </div>   
                <div>
                    <div id="title-bar" style="display:flex;height:6vh;">
        
                        <div style="flex-grow: 1;">
                            <p style="color: white;
                            font-size: 4vh;
                            font-family: monospace;
                            margin-left: 5%;
                            position: relative;                            
                            top: -50%;">ClientMap</p>
                        </div>
                                            
                        <button id="leave-game-button" class="scale-dim" (click)="leaveGame()">Leave Game</button>   
                        
            
                    </div>
                    <mat-tab-group id="tabs" [(selectedIndex)]=sessionService.tabIndex (selectedTabChange)="tabFocusChange($event)">
                        <mat-tab label="Info" style="height:90vh;width:100%;font-size: 1.5rem;">  
                            <div id='interaction-pane-div' style="height:100%;width:100%">
                                <app-interaction-pane></app-interaction-pane>                            
                            </div> 
                        </mat-tab>
                        <mat-tab (click)=scrollChatDown() label="Shop:Plan">  
                            <app-planning-pane></app-planning-pane>                     
                        </mat-tab>
                        <mat-tab (click)=scrollChatDown() label="Shop:Tools">  
                            <app-store-pane></app-store-pane>     
                        </mat-tab>
                        <mat-tab (click)=scrollChatDown() label="FAQ/Help">  
                            <app-faq-help></app-faq-help>                          
                        </mat-tab>
                    </mat-tab-group>  
                </div>
                             
               
                
               
               
            </div>
            
        </div>       
    </body>
</html>

