html,body{
    width:100%;
    height:100%;
}

body{
    background-image: url("./lobby_background.png");
    background-position-x: center;
}

p{
    color: white;
    font-size: 1rem;
    //text-align: left;
}

.instructions, h2{
    color: white;
    font-size:1.25rem;
}

#mechanicsouterdiv {
    height: 100%;
    width:100%;
    padding:5px;
    display: flex;
    flex-direction: row;
}

.instructionsCol {
    text-align: left;
    padding: .5rem;
    padding-bottom: 30px;
    color: white;
    // margin-right:3px;
    // background-color:#254A32;

    p {
        font-size: 1rem;
        padding-left: 10px;
        margin-block-start:0.5rem;
    }

    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        background: #254A32;
    }

    h3 {
        font-size:1.1rem;
        margin-block-end:0.5rem;
        color: #6dcd3d;
    }

    .instructionItems {
        display:flex;
        justify-content: space-around;
        width:100%;

        .instructionItem {
            background: #333;
            text-align: center;
            border-radius: 4px;
            padding: 6px 2px 4px 2px;
            font-size: 0.85rem;
            
            img {
                height:36px;
            }

            .itemName {
                font-size: 0.85rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 4px; 
            }
        }
    }

    .instructionTools {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 4px;
        width:100%;

        .instructionTool {
            display: flex;
            flex-direction: row;
            background: #333;
            text-align: left;
            border-radius: 4px;
            padding: 6px 2px 4px 2px;
            font-size: 0.85rem;
            
            .toolIcon {
                flex: 0 42px;
                display: flex;
            }

            img {
                width:36px;
                margin: auto 8px;
            }

            .toolText {
            }
            
            .itemName {
                font-size: 0.85rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 4px; 
            }
        }
    }
}



table, th, td {    
    border-collapse: collapse;
    text-align: left;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500 ;
    color: white;
    text-align: center;
}

table{
    margin-top:1rem;
    margin-left:.5rem;
}

table{    
    width:100%;   
}

#table-container{
    background-color: black;
}

mat-card{    
    height: 64rem;
    color:white;  
}

::ng-deep .mat-tab-label, .mat-tab-label-content{
    color: white;
    font-size: 1.25rem;
}

mat-tab{
    width:100%;
    height:100%;
}


app-tutorial-page{
    overflow-y:scroll;
}

#main-container{
    display:flex;    
}

#separator,#left_section,#right_section{
    border: white .5rem solid;
    background-color: transparent;
}

#title-div{
    background-color: transparent;
}

#left_section{

    min-width: 35%;
    height: 100% ;    
    background: black;     
    text-align: left;     
}   

#right_section{

    flex-grow: 1; 
    background: black; 
    text-align: center; 
    height: 100%  
}

button{    
    background-color: lightyellow;
    width:8rem;
    word-wrap: normal;
    cursor: pointer;
    display: block;

}

#take-survey-button{
    margin-left: 45%;
}

.btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

#bounceStatus{

animation: pulse 2s infinite;
    background-color: red;
    padding:1rem
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


.fineprint {
    font-size: 12px;
    color: rgb(210, 210, 210);
}

.leaderboard-card-container {
    padding: 8px;
    display: flex;
    // width: 90%;
    // margin: auto;
}

.leaderboard-card-container table {
    // min-width: 150px;
    // max-width: 500px;
    color: white;
    height: 100%;
}

.leaderboard-card-container th {
    text-transform: uppercase;
    font-size: 90%;
    color:limegreen;
  }

.leaderboard-card-container tbody td:nth-child(2) {
    text-align:left;
  }

.selected-trial{
    border: 2px solid rgba(50, 205, 50, 0.6);
    background-color: rgba(50, 205, 50, 0.3);
    
}

.selected-trial-details {
    height: 100%;
    width: 30%;
    margin-left: 20px;
    border: 2px solid rgba(50, 205, 50, 0.6);
    background-color: rgba(50, 205, 50, 0.3);
}

.selected-trial-details table{
    border-spacing: 20px;
    border-collapse: separate;

}

.selected-trial-details td:nth-child(1){
    text-align: right;
    margin-right: 12px;
}



.mat-divider {
    border-top-color: rgba(50, 205, 50, 0.6);;
    border-top-width: 2px;

}

  
