.card-container{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.content{
    width: 100%;
}

.text-wrap {
    white-space: normal;
}

#errorMessage {
    color: red;
}

::ng-deep .mat-tab-label, .mat-tab-label-content{
    color: white;
    font-size: 1.25rem;
}

.setup-card-container {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
}

.login-main {
    column-gap: 10px;
    padding: 20px;
    max-width: 1400px;
}

.login-input {
    width: 100%;
}

.info-text {
    font-size: 18px;
    line-height: 28px;
    color: #eee;
    font-weight: bold;
}

.fineprint {
    font-size: 12px;
    color: rgb(210, 210, 210);
}

.description-text {
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-bottom: 8px;
}

.info-text a {
    color: lightblue;
}

.description-text a {
    color: lightblue;
}

.info-text a.back-link {
    color: white;
    text-decoration: none;
    background: #3e453f;
    padding: 6px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 80%;
}

.info-text a.back-link:hover {
    background: #818f83;
}

.setup-card {
    background-color: rgba(0,0,0,0.7);
}

#mechanicsouterdiv {
    height: 100%;
    width:100%;
    padding:5px;
    display: flex;
    flex-direction: row;
}

.setup-instructions li {
    color: #eee;
    font-size: 14pt;
    line-height: 1.4em;
    padding: 8px;
    border-radius: 4px;
	background: #333;
}

.setup-instructions li + li {
	margin-top: 12px;
}

.setup-instructions li ul {
    list-style-type: disc;
}

.setup-instructions li ul li {
    font-size: 12pt;
    padding: 0;
}

.setup-instructions li ul li + li {
    margin-top: 2px;
}

.setup-instructions a {
    color:rgb(211, 219, 252)
}

.setup-second-level {
    margin-bottom: 15px;
}

.download-item {
    display:block;
    color: white;
    text-decoration: none;
    background: #333;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 8px;
    height: 48px;
    font-size: 1.2em;
}

.download-item:hover {
    background: #737373;
}

.download-item img {
    vertical-align: middle;
}

ol ::marker {
    color: #1edf08;
    font-size: 1.2em;
    font-weight: bold;
  }