
<div fxflex="" fxlayout.xs="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0px; justify-content: center;">
    <div class="login-main" fxflex="" fxlayout.xs="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0px;">
        <div fxflex="3 1 50%" fxflexorder="" fxflexorder.xs="1" style="flex: 3 1 50%; box-sizing: border-box; max-width: 50%;" fxLayoutAlign="center none">
            <div class="setup-card-container" fxLayout="column" fxLayoutGap="20px">
                <div fxLayoutAlign="center none" *ngIf="isLoggedIn()">
                    <div class="card-container" fxLayout="column" fxLayoutGap="20px">
                        <mat-card class="info-card">
                            <mat-card-content class="content">
                                <div fxLayout="column">
                                    <p>You are logged in as {{this.inputUser?.userId}} (Participant {{this.inputUser?.participantId}}).</p>
                                    <p>If you have not already installed the Forge Mod, please follow the instructions below.</p>
                                    <p>Once you have installed the Forge Mod, check the box below then join the game lobby.</p>
                                    <mat-checkbox color="primary" [(ngModel)]="checked">
                                        <span class="text-wrap">
                                            I have downloaded and installed the Forge Mod.
                                        </span>
                                    </mat-checkbox>
                                    <button fxFlex mat-flat-button color="primary" [disabled]="!checked" (click)="goToLobby()">Join Lobby</button>    
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="setup-card-row" fxLayout="row" fxLayoutGap="20px">
                    <mat-card class="setup-card" fxflex="1 1 50%" fxflexorder="" fxflexorder.xs="1" style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%;">
                        <div class="info-text" style="text-align:center">System Requirements</div>
                        <div class="description-text" style="margin-top:8px">To participate in the SocialAI.games competition, you need have <a href="https://www.minecraft.net/en-us/store/minecraft-java-bedrock-edition-pc">Minecraft Java Edition</a> installed and a valid Minecraft account.</div>
                        <div class="description-text">If you choose the Manual setup option, you will also need to have a <a href="https://www.java.com/en/download/manual.jsp">Java runtime</a> installed.</div>
                    </mat-card>
                    <mat-card class="setup-card" fxflex="1 1 50%" fxflexorder="" fxflexorder.xs="1" style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%;">
                        <div class="info-text" style="text-align:center">Downloads</div>
                        <a class="download-item" href="assets/asistmod-4.3.1.jar"><img src="assets/minecraft-block-download.png" height="48" width="48"> Forge Mod (v4.3.1)</a> 
                        <a class="download-item" href="assets/forge-1.11.2-13.20.1.2588-installer.jar"><img src="assets/forge-download.png" height="48" width="48"> Forge 1.11.2 Installer</a>
                    </mat-card>
                </div>
                <mat-card class="setup-card">
                    <div class="description-text" style="text-align:center">There are two options to get setup to play SocialAI.games, based on your experience with Minecraft Mods:</div>
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Minecraft Mod Novice (CurseForge)">
                            <div class="description-text" style="padding-top:12px; text-align:center;">CurseForge is a mod management app that makes installing and managing mods easy.</div> 
                            <ol class="setup-instructions">
                            <li>Download and Install CurseForge from <a target="_blank" href="https://download.curseforge.com/">curseforge.com</a></li>
                            <li>Launch CurseForge</li>
                            <li style="min-height:310px">Set up a Forge Minecraft profile
                                <img src="assets/curseforge-profile.png" style="float:right; height:300px">
                                <ul class="setup-second-level">
                                <li>Once open CurseForge will prompt you to select a game, from this screen select Minecraft.</li>
                                <li>In the top right click <em>Create Custom Profile</em></li>
                                <li>In the profile section, give your profile any name and select Minecraft version 1.11.2.</li>
                                <li>Verify that the Game Type selected is Forge (it should be selected by default). </li>
                                <li>Finish by clicking <em>Create</em>.</li>
                                </ul>
                            </li>
                            <li>Install the Mod
                                <ul class="setup-second-level">
                                <li>Once your profile is created you will now be presented with the profile screen. Click the three dots by the "Play" button, then select “Open Folder”.</li>
                                <li>Download the Forge Mod from the download link above, and then drag and drop it from your Downloads folder into the “Mods” folder.</li>
                                <li>Once that is finished, go back to the Curse Forge Client and hit play. This will open up a Minecraft launcher.</li>
                                </ul>
                            </li>
                            <li>Verify Setup
                                <ul class="setup-second-level">
                                <li>At the Minecraft Launcher Home Screen hit Play and let forge run it’s install process. </li>
                                <li>To verify Forge is installed correctly and you have the proper Minecraft version look in the bottom left of the Minecraft splash screen, you should see this:</li>
                                <img src="assets/forge-version.png" height="62" width="328" style="border:1px solid black">
                                </ul>
                            </li>
                            <li>Play!
                                <ul>
                                    <li>
                                        <a routerLink="/Login">Log in</a> on the landing page, join the Waiting Room queue in the game lobby, and follow the instructions to connect to a server once you are placed in a team. 3 players must be present in the Waiting Room to form a team.</li>
                                </ul>
                            </li>
                                </ol>
                        </mat-tab>
                        <mat-tab label="Minecraft Mod Expert (Manual)">
                            <ol  class="setup-instructions">
                                <li>Install Forge 1.11.2
                                <ul>
                                <li>Download the Forge Installer using the link above, or <a href="http://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.11.2.html" target="_blank">directly from minecraftforge.net</a></li>
                                </ul>
                                </li>
                                <li>If you don't already have one, create a <code>mods</code> directory within your
                                <code>MinecraftHome</code> directory.
                                <ul>
                                    <li>For Windows, MinecraftHome is usually <code>%appdata%/.minecraft</code></li>
                                    <li>For macOS, you can run the following
                                        command: <code>mkdir -p ~/Library/Application\ Support/minecraft/mods</code>.</li>
                                </ul> 
                                </li>
                                <li>Download the Forge Mod using the link above, and move it into the <code>mods</code> directory created above.</li>
                                <li>Launch the Minecraft Launcher</li>
                                <li>Go to the 'Installations' tab
                                <ul >
                                <li>Create an installation with the 1.11.2 Forge version. It should be at the
                                bottom of the list.</li>
                                <li>Set the game installation directory to the MinecraftHome directory
                                created above.</li>
                                </ul>
                                </li>
                                <li>Launch the installation from the 'Play' tab of the Minecraft Launcher.</li>
                                <li>Join the game using the multiplayer direct connection with an IP address and
                                port number.</li>
                                <li>Log in, join the waiting list in the game lobby, and follow the instructions to connect to a server once you are placed in a team.</li>
                                </ol>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
        </div>
    </div>
</div>


