<div style="background-color: rgb(115, 115, 115);">
    <div style="background-color: rgb(25, 218, 212);text-align: center;">
        <p >Select a Priority</p>
    </div>
    <div style="">
        <mat-button-toggle-group [(ngModel)]="selectedPriority" (change)="selectPriority($event)" >
            <mat-button-toggle value="1">1</mat-button-toggle>
            <mat-button-toggle value="2">2</mat-button-toggle>
            <mat-button-toggle value="3">3</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    
</div>
