.expansion-panel {
  /*  min-height: 0; */
  display: flex;
  flex-direction: column;
  /* flex: 1 1 auto;  */
}

.state-ok {
  color: #00ff00;
}

.state-warning {
  color: #ffff00;
}

.state-error {
  color: #ff0000;
}

.icon-div {
  display: flex;
  flex-direction: row;
  gap: .5em;
}

.icon-enabled {
  color: #00ff00;
}

.icon-disabled {
  color:  #a9a9a9;
}

.panel-title-icon {
  margin-right: 0.5em;
}

.panel-title-info {
  display: flex;
  flex-direction: column;
}

.panel-description-icons {
  justify-content: space-between;
}

.instance-selector-panel {
  display: flex;
  justify-content: space-around;
}


:host ::ng-deep  .mat-expansion-panel-content {
  min-height: 0;
}

:host ::ng-deep  .mat-expansion-panel-body {
  min-height: 0;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 auto; */
}

.instance-body-panel {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;

  /* flex: 1; */
  /* min-height: 0; */
  overflow-y: scroll;

  small {
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }
}
