
<div id="InteractionContainer" style="display:flex; flex-direction: column;">
    <div style="display: block; text-align:center">
        <h2 style="display:block;">{{sessionService.assignedName}} : {{sessionService.callSign}} : {{sessionService.participant_id}}</h2>
        <p class="subheader"> Connected : {{websocketService.connectionService.isConnected}}</p>
        <!-- <p class="subheader" *ngIf=!websocketService.connectionService.isConnected > Timeout in : {{websocketService.connectionService.timeToDisconnect}}ms</p> -->
        <p class="subheader"> Timer: {{websocketService.timeString}}</p>
    </div>

    <div *ngIf="sessionService.appMode === 0">
      <app-minecraft-status></app-minecraft-status>
    </div>

    <!-- <div *ngIf="sessionService.appMode === 1">
        <p>PLAY_STAGE</p>
    </div>

    <div *ngIf="sessionService.appMode === 2">
        <p>EXIT_STAGE</p>
    </div> -->

    <div style="margin:1rem;background-color: rgb(61, 60, 61); border-radius: .5rem; border:.25rem white solid" *ngIf="iconSelectorService.currentHoveredOverIcon != null ">
        
        <div *ngIf="iconSelectorService.currentHoveredOverIcon.type == 0">
            <p class="beaconData">OWNER : {{iconSelectorService?.currentHoveredOverIcon?.owner_callsign}}</p>
            <p class="beaconData">BOMB_ID : {{iconSelectorService?.currentHoveredOverIcon?.data?.bomb_id}}</p>
            <p class="beaconData">CHAINED_ID : {{iconSelectorService?.currentHoveredOverIcon?.data?.chained_id}}</p>
            <p class="beaconData">FUSE_START_MINUTE : {{iconSelectorService?.currentHoveredOverIcon?.data?.fuse_length}}</p>
            <p class="beaconData">SEQUENCE : {{iconSelectorService?.currentHoveredOverIcon?.data?.sequence}}</p>
            <p class="beaconData">PRIORITY : {{iconSelectorService?.currentHoveredOverIcon?.data?.priority}}</p>
        </div>
        <div *ngIf="iconSelectorService.currentHoveredOverIcon.type == 1">
            <p class="beaconData">OWNER : {{iconSelectorService?.currentHoveredOverIcon?.owner_callsign}}</p>
            <p class="beaconData">MESSAGE : {{iconSelectorService?.currentHoveredOverIcon?.data?.message}}</p>
            <p class="beaconData">PRIORITY : {{iconSelectorService?.currentHoveredOverIcon?.data?.priority}}</p>
        </div>
        <div *ngIf="iconSelectorService.currentHoveredOverIcon.type == 2">
            <p class="beaconData">OWNER : {{iconSelectorService?.currentHoveredOverIcon?.owner_callsign}}</p>
            <p class="beaconData">MESSAGE : {{iconSelectorService?.currentHoveredOverIcon?.data?.content}}</p>
            <p class="beaconData">PRIORITY : {{iconSelectorService?.currentHoveredOverIcon?.data?.priority}}</p>
            <!-- <p class="beaconData">SCHEDULED AT : {{iconSelectorService?.currentHoveredOverIcon?.data?.schedule_minute}} : {{iconSelectorService?.currentHoveredOverIcon?.data?.schedule_second}}</p> -->
        </div>

        <p class="beaconData">Responses:</p>
        <div *ngFor="let response of iconSelectorService.currentHoveredOverIcon.responses | keyvalue">
            <p class="beaconData" style="margin-left: 2rem;">{{sessionService?.getCallSignFromPid(response?.key)}} : {{response?.value}}</p>
        </div>
    </div>
    
    <span style="flex-grow:1"></span> 
    <div>
        <app-textchat></app-textchat>        
    </div>

</div>