
#InteractionContainer{    
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, .7);
    overflow-y: auto;
    height:84vh;
    border:2px solid gray;    
}

.subheader{
    display:inline-block;
    margin-right:1rem;
}

.padding {
    padding: 10px;
}


.white-icon {
    color: white;
}

.self {
    color: rgb(0, 183, 255);
    font-size: 16px;
    margin-top: 10px;
}
.selfRec {
    font-size: 18px;
    color: white;
}

.otherplayers {
    font-size: 16px;
    color:gray;
}

.highlight {
    background-color: rgb(55, 55, 55);
    width: auto;
}

.header{
    font-variant: small-caps;
    font-size: 20px;
}

.beaconData{
    font-size: 1.1rem;
    margin-left: 1rem;
}

