<mat-toolbar class="mat-primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon (click)="connect()" matTooltip="{{isConnected ? 'MQTT connected.' : 'MQTT disconnected.'}}">{{isConnected ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
  </button>
</mat-toolbar>
<app-dashboard></app-dashboard>
