<!-- <p>
    {{sessionService.trialSummary | json }}
</p> -->

<div class="margin bgImg">
    <img>
</div>

<div style="width:100%; text-align: center;">
    <p> Mission Summary</p>
</div>

<div class="table-container" style="overflow: auto;max-height: 75vh;">

    <table style="width: 100%;">
        <th style="text-align: left">Value</th>        
        <th *ngFor="let k of sessionService.pidMap.values()">
            <div *ngIf="k === sessionService.participant_id">
                <b style="display: block;">
                    {{k}}
                </b>
                <p style="display: block;">
                    (you)
                </p>
            </div>
            <div *ngIf="k !== sessionService.participant_id">
                    {{k}}
            </div>
            
        </th>
        
        <tr style="width: 100%;">
            <td class="table-label">
                <p>TeamScore</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{sessionService.trialSummary?.teamScore}}
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p>Standard Bombs Defused </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"BOMBS_DEFUSED","STANDARD") || "0" }}
                
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Fire Bombs Defused </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"BOMBS_DEFUSED","FIRE") || "0" }}                
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Chained Bombs Defused </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"BOMBS_DEFUSED","CHAINED") || "0" }}                
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p>Standard Bombs Exploded </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"BOMBS_EXPLODED","STANDARD") || "0" }}                
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Fire Bombs Exploded </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"BOMBS_EXPLODED","FIRE") || "0" }} 
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Chained Bombs Exploded </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"BOMBS_EXPLODED","CHAINED") || "0" }} 
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p> Damage Taken </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("damageTaken",k) || "0" }}
                
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p> Fires Extinguished </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("firesExtinguished",k) || "0" }}
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p> Times Frozen </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("timesFrozen",k) || "0" }}
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p> Teammates Rescued </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("teammatesRescued",k) || "0" }}
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p> BudgetExpended </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("budgetExpended",k) || "0" }}
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p> Comm Beacons Placed </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("commBeaconsPlaced",k) || "0" }}
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p> Bomb Beacons Placed </p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombBeaconsPlaced",k) || "0" }}
            </td>
        </tr>
       
        
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Standard Bomb Phases Defused - Red</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","STANDARD","R") || "0" }}                 
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Standard Bomb Phases Defused - Green</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","STANDARD","G") || "0" }} 
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Standard Bomb Phases Defused - Blue</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","STANDARD","B") || "0" }} 
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p>Fire Bomb Phases Defused - Red</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","FIRE","R") || "0" }} 
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Fire Bomb Phases Defused - Green</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","FIRE","G") || "0" }} 
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Fire Bomb Phases Defused - Blue</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","FIRE","B") || "0" }} 
            </td>
        </tr>

        <tr style="width: 100%;">
            <td class="table-label">
                <p>Chained Bomb Phases Defused - Red</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","CHAINED","R") || "0" }} 
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Chained Bomb Phases Defused - Green</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","CHAINED","G") || "0" }} 
            </td>
        </tr>
        <tr style="width: 100%;">
            <td class="table-label">
                <p>Chained Bomb Phases Defused - Blue</p>
            </td>
            <td class="table-data" *ngFor="let k of sessionService.pidMap.values()">
                {{ fetchTrialSummaryValue("bombSummaryPlayer",k,"PHASES_DEFUSED","CHAINED","B") || "0" }} 
            </td>
        </tr>

    </table>

</div>

<div style="width:100%;text-align: center;">
    <button class="scale-dim" (click)="close()">Ok</button>
</div>


<div class="margin bgImg">
    <img>
</div>
