.registration-form {
    /* min-width: 150px;
    max-width: 500px;
    width: 100%; */
}

.registration-instructions {
    text-align:center;
    font-size: .75rem;
}

.registration-instructions-important {
    text-align:center;
    font-weight: bold;
    font-size: .75rem;
    color: firebrick;
}

.card-container {
    /* padding: 20px; */
}

.user-card {
    /* min-width: 150px;
    max-width: 100%;
    width: 500px; */
}

.full-width {
    width: 100%;
}

a {
    color:lightskyblue;
}

a:visited {
    color: rgb(198, 190, 240);
}