
<div fxLayoutAlign="center none" >
    <div class="card-container" style="width:50vw" >
        <mat-card class="user-card" *ngIf="currentUser">
            <mat-card-header >
                <mat-card-title>
                    <h1>Participant Info</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content >
                <div class="full-width" >
                    <p>Username: {{currentUser?.userId}}</p>      
                    <p>Participant Id: {{currentUser?.participantId}}</p>      
                    <p>Password: {{currentUser?.password}}</p>      
                    <p>Email: {{currentUser?.email}}</p>
                    <p style="color:red">IMPORTANT: Make sure to save your username and password before continuing to the login page!
                        Upon leaving this page you will no longer see your login credentials. Once you have saved 
                        your username and password, please continue to the login page.
                    </p>
                </div>
                <div style="text-align: center;">
                    <button style="margin:1rem; width:50%" mat-flat-button color="primary" (click)="goToLogin()">Continue to Login</button>
                    <button style="margin:1rem; width:50%" mat-flat-button color="primary" (click)="reloadPage()">Register Additional User</button>
                </div>
                
            </mat-card-content>
        </mat-card>

        <mat-card class="registration-card" *ngIf="!currentUser">
            <!-- <mat-card-header>
                        <h3 style="margin: 0 15.5vw;">Registration</h3>
            </mat-card-header> -->
            <div style="text-align: center;">
                <img src="assets/launcher-username.png" alt="Minecraft Launcher">
            </div>
           
           
            <mat-card-content>
                <p class="registration-instructions-important">Our Minecraft Servers validate your connection based on your Minecraft username, </p>
                <p class="registration-instructions-important">so the username you register with MUST match your Minecraft username exactly.</p>
                <p class="registration-instructions">Usernames are case-sensitive, so please be precise when registering.</p>
                
                <p class="registration-instructions">Aren't sure about your Minecraft username? </p>
                <p class="registration-instructions">You can find it in the Minecraft launcher (circled in red in the picture above).</p>
                <form #regForm="ngForm" class="registration-form" [formGroup]="registrationForm" style="font-size:.75rem;">
                    <mat-form-field class="full-width" appearance="fill" >
                        <mat-label>Minecraft Username</mat-label>
                        <input (keydown.enter)="register(registrationForm.value)" matInput formControlName="username" placeholder="Username.">
                        <!-- <button type="button" tabindex="-1" mat-icon-button matSuffix color="primary" (click)="showInfo()" aria-label="'more info'" aria-pressed="info">
                            <mat-icon fontIcon="info_outline"></mat-icon>
                            </button> -->
                        <mat-error *ngIf="registrationForm.get('username')?.hasError('invalid') && 
                                        !registrationForm.get('username')?.hasError('required') && 
                                        (registrationForm.touched || registrationForm.dirty)">
                            Invalid Username (over 16 characters).
                        </mat-error>
                        <mat-error *ngIf="registrationForm.get('username')?.hasError('required') && (registrationForm.touched || registrationForm.dirty)">
                            Username is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Email Address</mat-label>
                        <input (keydown.enter)="register(registrationForm.value)" matInput id="email" placeholder="pat@example.com" formControlName="email" required>
                        <mat-error *ngIf="registrationForm.get('email')?.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button fxFill mat-flat-button color="primary" [disabled]="!registrationForm.valid || isLoading" (click)="register(registrationForm.value)">Register</button>
                    <div style = "text-align: center;">
                        <p style="font-size: .75rem;margin-top: 2vh;">Already have an account? <a routerLink="/Login">Click here to log in.</a></p>
                    </div>
                    
                </form>
                <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
        <!-- <button fxFlex mat-flat-button color="primary" (click)="viewUsers()">View Registered Users</button> -->
    </div>
</div>
