.news-item {
  color: white;
  font-size:.9rem;
  background-color: #283528;
  padding: 1vh 1vw;
  text-align: left;
  margin:1vw;
  border:1px solid white;
}

.date-item {
}

.markdown-item {
  display: block;
  padding-top: .75em;
}
