p{
    font-size: 1.25rem;
    font-family: monospace;
    margin: 1rem;
    font-weight: bold;    
}

button{    
    border:1px solid black;
    background-color: cornflowerblue;
    font-size: 2rem;
    cursor: pointer;
    margin:2rem auto;
}

 
.font{
    font-size: 1.25rem;
}
 
.bgImg{
    background-image: url(../../assets/minecraft_background.png);

    background-repeat: repeat-x;
        
    background-size: 4rem 2rem;

    width:100%;
    
    height:2rem;
}

h3{
    color:palegreen;
}

.imgExample{
    width: 28rem;
    
}

.margin{
    //margin: 2% 5%;
}

#minecraft_ip_address_image{
    background-image: url('../../assets/minecraft_enter_ip.png');
    height: 20rem;
    width: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}