.testbed-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-card-content {
  overflow-y: auto;
}

.container-running {
  color: #00ff00
}

.container-not-running {
  color: #ff0000
}
