#chatContainer{
    width: 45vw;
    min-height:10rem;
    max-height: 16rem;
    border:1px solid white;
    overflow-y: auto;

}

p{
    font-size: 1rem;
}

input{    
    width: 45vw;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}