#errorMessage {
    color: red;
}

.card-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.info-card-container {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.leaderboard-card-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.leaderboard-card-container table {
    width: 100%;
    color: white;
}

.leaderboard-card-container th {
    text-transform: uppercase;
    font-size: 90%;
    color:limegreen;
  }

.leaderboard-card-container tbody td:nth-child(2) {
    text-align:center;
  }

.login-main {
    column-gap: 10px;
    padding: 20px;
    max-width: 1400px;
}

.login-input {
    width: 100%;
    font-size: .75rem;
}

.info-text {
    font-size: .9rem; 
    /* line-height: 28px; */
    color: white;
}

.fineprint {
    font-size: .5rem;
    color: rgb(210, 210, 210);
}

.info-text a {
    color: lightblue;
}

.info-card {
    background-color: rgba(0,0,0,0.4);
}

.info-card h1 {
    color: white;
}

.info-card h2 {
    color: white;
    margin: 0;
    font-size: 120%;
    text-transform: uppercase;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    max-width: 560px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin: 0 auto;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.margin{
    margin:1vh;
}

mat-card-actions{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 0;
    margin:auto;
}
.button{
    margin: 1vh 25%;
    width: 50%;
    font-size: .75rem;
    background-color: #4054b4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 3vh;
}
.button:active {
    background-color: #c0c7e8;;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }

.button:hover {background-color: #697ee8;}


