#chatContainerAdvisor{
    min-height:6rem;
    max-height:30vh;
    border:1px solid white;
    overflow-y: auto;
    min-width: 30rem

}


.checkmark{
    display: none;
    height: 1rem;
    width: 1rem;
    top: 1rem;
    position: relative;
    margin-left: 5rem;
    
}

.thumbs:active {
    transform: scale(1.25);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(5, 203, 84, 0.834);
    /* Lowering the shadow */
}

p {
    margin-left: 1rem;
    display: inline-block;
    font-size: 1.1rem;
}

.options{
    border: 1px solid;
    border-radius: 5px;
    margin: 1rem;
    background: rgb(8, 157, 23);
    min-width: 8rem;
    text-align: center;
}



mat-radio-group{
    margin-left: 1rem;
}