<mat-card class="testbed-card">
  <mat-card-header>
    <mat-card-title>
      {{title}}
<!--      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
<!--        <mat-icon>more_vert</mat-icon>-->
<!--      </button>-->
<!--      <mat-menu #menu="matMenu" xPosition="before">-->
<!--        <button mat-menu-item>Expand</button>-->
<!--        <button mat-menu-item>Remove</button>-->
<!--      </mat-menu>-->
    </mat-card-title>
    <mat-card-subtitle>
      {{selectedTestbed}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="testbed-card-content">
    <mat-selection-list #serviceList [multiple]="false" (selectionChange)="serviceSelectionChanged($event)">
      <mat-list-option *ngFor="let service_name of serviceNames" [value]="service_name">
        <mat-icon class="material-symbols-outlined {{mapClass(service_name)}}" mat-list-icon>lens</mat-icon>
        <div mat-line>{{service_name}}</div>
<!--        <div mat-line> <small>{{moment().format()}}</small></div>-->
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
