<div class="margin bgImg">
    <img>
</div>

<p class="margin font">{{dialogContent}}</p>

<div *ngIf="!sessionService.player_left_first" class="margin font" style="text-align: center; margin-top: 2rem;">
    <button class="scale-dim" *ngIf="crash == false" (click)="confirm()">Confirm</button>
    <button class="scale-dim" *ngIf="crash == true" (click)="crashOk()">Ok</button>
</div>

<div *ngIf="showCancelButton" class="margin font" style="display: flex; text-align: center; margin-top: 2rem;">
    <button class="scale-dim" (click)="cancel()">Cancel</button>
    <div style="flex-grow: 1;"></div>
    <button class="scale-dim" (click)="confirm()">Confirm</button>
</div>

<div class="margin bgImg">
    <img>
</div>

<!-- <app-trial-summary></app-trial-summary> -->