<div style="padding:1rem;">
    <div *ngIf="icon.type === 2">        
        <div *ngIf="icon.owner_pid === sessionService.participant_id">
            <div style="display:flex;">
                <p>Owner</p>
                <div style="flex-grow: 1;"></div>
                <p>You</p>
            </div>
            <div style="display:flex;">
                <p>Priority</p>
                <div style="flex-grow: 1;"></div>
                 <mat-button-toggle-group value={{icon.data.priority}} (change)="selectPriority($event)"  >
                    <mat-button-toggle *ngFor="let option of [1,2,3]; let i=index" value={{option}}>{{option}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div style="display:flex;">
                <p style="margin-top:1.5rem">Content</p>
                <div style="flex-grow: 1;"></div>
                <select [(ngModel)]="icon.data.content" (change)=syncIconData()>
                    <option *ngFor="let option of flagOptions; let i=index" value={{option}}>{{option}}</option>
                </select>
            </div>
            <!-- <div style="display:flex;">
                <p>Plan to address @ time : </p>
                <div style="flex-grow: 1;"></div>
                <select [(ngModel)]="icon.data.schedule_minute" (change)=syncIconData()>
                    <option *ngFor="let option of minuteArray; let i=index" value={{option}}>{{option}}</option>
                </select>
                <p> Minutes </p>
                <select [(ngModel)]="icon.data.schedule_second" (change)=syncIconData() >
                    <option *ngFor="let option of secondArray; let i=index" value={{option}}>{{option}}</option>
                </select>
                <p> Seconds </p>
            </div> -->
            <p>Responses:</p>
            <div *ngFor="let response of icon.responses | keyvalue">
                <p class="responses"  style="margin-left: 2rem;">{{sessionService.getCallSignFromPid(response.key)}} : {{response.value}}</p>
            </div>
            <button id="delete-button" class="scale-dim" (click)="deleteFlag($event)">DELETE THIS ICON</button>
        </div>
        <div *ngIf="icon.owner_pid != sessionService.participant_id">
            <div style="display:flex;">
                <p>Owner</p>
                <div style="flex-grow: 1;"></div>
                <p>{{icon?.owner_callsign}}</p>
            </div>
            <div style="display:flex;">
                <p>Priority</p>
                <div style="flex-grow: 1;"></div>
                 <mat-button-toggle-group value={{icon.data.priority}} (change)="selectPriority($event)"  >
                    <mat-button-toggle *ngFor="let option of [1,2,3]; let i=index" value={{option}}>{{option}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div style="display:flex;">
                <p>Content</p>
                <div style="flex-grow: 1;"></div>
                <p>{{icon?.data?.content}}</p>
            </div>
            <!-- <div style="display:flex;">
                <p>Plan to address @ time : </p>
                <div style="flex-grow: 1;"></div>
                <p>{{icon?.data?.schedule_minute}} : {{icon?.data?.schedule_second}}</p>
            </div> -->
            <div style="display:flex;">
                <p>Response</p>
                <div style="flex-grow: 1;"></div>
                <select (change)="selectIconResponse($event)" >
                    <option *ngFor="let option of responseOptions; let i=index" value={{option}}>{{option}}</option>
                </select>
            </div>
            <p>Responses:</p>
            <div *ngFor="let response of icon.responses | keyvalue">
                <p class="responses"  style="margin-left: 2rem;">{{sessionService.getCallSignFromPid(response.key)}} : {{response.value}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="icon.type === 1">
        <div style="display:flex;">
            <p>Owner</p>
            <div style="flex-grow: 1;"></div>
            <p>{{icon?.owner_callsign}}</p>
        </div>
        <div style="display:flex;">
            <p>Message</p>
            <div style="flex-grow: 1;"></div>
            <p>{{icon?.data?.message}}</p>
        </div>

        <div style="display:flex;">
            <p>Priority</p>
            <div style="flex-grow: 1;"></div>
            <mat-button-toggle-group value={{icon.data.priority}} (change)="selectPriority($event)"  >
                <mat-button-toggle *ngFor="let option of [1,2,3]; let i=index" value={{option}}>{{option}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div style="display:flex;">
            <p>Response</p>
            <div style="flex-grow: 1;"></div>
            <select (change)="selectIconResponse($event)" >
                <option *ngFor="let option of hazardBeaconResponseOptions; let i=index" value={{option}}>{{option}}</option>
            </select>
        </div>
        <p>Responses:</p>
        <div *ngFor="let response of icon.responses | keyvalue">
            <p class="responses" style="margin-left: 2rem;">{{sessionService?.getCallSignFromPid(response?.key)}} : {{response?.value}}</p>
        </div>
    </div>
    <div *ngIf="icon.type === 0">
        <div style="display:flex;">
            <p>Owner</p>
            <div style="flex-grow: 1;"></div>
            <p>{{icon?.owner_callsign}}</p>
        </div>              
        <div style="display:flex;">
            <p>Bomb Id</p>
            <div style="flex-grow: 1;"></div>
            <p>{{icon?.data?.bomb_id}}</p>
        </div>
        <div style="display:flex;">
            <p>Chained Id</p>
            <div style="flex-grow: 1;"></div>
            <p>{{icon?.data?.chained_id}}</p>
        </div>
        <div style="display:flex;">
            <p>Sequence</p>
            <div style="flex-grow: 1;"></div>
            <p>{{icon?.data?.sequence}}</p>
        </div>
        <div style="display:flex;">
            <p>Fuse Length</p>
            <div style="flex-grow: 1;"></div>
            <p>{{icon?.data?.fuse_length}}</p>
        </div>
        <div style="display:flex;">
            <p>Priority </p>
            <div style="flex-grow: 1;"></div>
            <mat-button-toggle-group value={{icon.data.priority}} (change)="selectPriority($event)"  >
                <mat-button-toggle *ngFor="let option of [1,2,3]; let i=index" value={{option}}>{{option}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- <div style="display:flex;">
            <p>Response</p>
            <div style="flex-grow: 1;"></div>
            <select (change)="selectIconResponse($event)" >
                <option *ngFor="let option of responseOptions; let i=index" value={{option}}>{{option}}</option>
            </select>
        </div>
        <p>Responses:</p>
        <div *ngFor="let response of icon.responses | keyvalue">
            <p class="responses"  style="margin-left: 2rem;">{{sessionService?.getCallSignFromPid(response?.key)}} : {{response?.value}}</p>
        </div> -->
    </div>    
</div>

