select{
    border: 6px solid black;
    border-radius: 10px;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    width:60%;
}

p{
    font-size: 1rem;
    margin-left: 1rem;
}

.responses{
    font-size: 1rem;
}

#delete-button{
    
    margin: 1rem;
    float: right;
    height: 2rem;
    color: white;
    background-color: orangered;
    cursor: pointer;
}

::ng-deep .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: white;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 3rem;
}